body{
    background: grey;
}

header{background:black;
   padding: 20px;
    width: 100%;
}
.links {
    float: right;
    text-align: center;
    color: white;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    height: 50px;
}
nav a{
    margin-right: 200px;
    margin-bottom: 50px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
nav a:hover{
 color:orangered;
 
}
.view {
    border: 1px solid 2px;
    width: 80%;
    height: 550px;
    margin-left: 120px;
    border-color: black;
    border-width: 4px;
    
}
h1{
    text-align:center;
    font-weight: bold;
    font-family: sans-serif;  
}
footer{
    background:black;
    padding: 0px;
}
footer p{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
}
.cop{
    text-align: center;
}
ol li{
    text-decoration: none;

}
h2{
    font-family:sans-serif;
    font-weight: bold;
    color:orange;
    font-size: 16px;
    display: inline;
}
ol li a{
    color: white;
}
ol li a:hover{
    color:orangered;
}
.empty {
    margin-left: 200px;
    padding-top: 10%;
}
p a:hover{
    color: orangered;
}